.page {
  @include lg {
    // margin: 0 25px 25px 25px;
  }
}

.vert-align {
  @include sm {
    position: absolute;
    top: 50%;
    width: calc(100% - 30px);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 0;
    }
  }

  .title.main {
    transition: .5s;
    position: fixed;
    z-index: 99999;
    h1 {
    font-family: "Josefin Sans", sans-serif;
    text-align: left;
    @include sm {
      font-size: 22px;
      padding-top: 5px;
    }
    @include md {
      font-size: 30px;
      padding-top: 0;
    }
    font-size: 17px;
    padding-top: 10px;
    font-weight: 700;
    margin: 10px;
    text-transform: uppercase;
    color: #fff;
    }
    p {
      display: none;
    }
  }


  .iframe {
    display: block;
  }

    // .scroll {
    //   background: rgba(28,52,84,.5);
    //     & .scroll__branding {
    //       display: block;
    //       color: #fff;
    //       h1 {
    //         font-family: $JosefinSans;
    //         font-size: 30px;
    //         font-weight: 700;
    //         margin: 10px;
    //         text-transform: uppercase;
    //
    //     }
    //   }
    // }

    .modal-backdrop {
      display: none;
    }

.intro {
  background: url(images/intro_bg.jpg);
  background-position: center !important;
  background-size: cover !important;
  @include md {
      height: 75vh;
      background-attachment: fixed !important;
  }




  background-size: cover;
  min-height: calc(100vh - 25px);
  color: #fff;
  font-family: $JosefinSans;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 2;
  // overflow: hidden;
  .vert-align {
      position: absolute;
      top: 40%;
      width: calc(100% - 30px);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 0;
    }
  h1 {
    font-size: 50px;
    @include lg {
      font-size: 85px;
    }
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
  }
  p {
    @include lg {
      font-size: 25px;
    }
    font-size: 15px;
    text-transform: uppercase;
  }
  .video_button {
    svg {
      height: 21px;
      width: 35px;
      overflow: visible;
    }
    position: absolute;
    cursor: pointer;
    bottom: 20px;
    width: calc(100% - 30px);
    text-align: center;
    @include md {
      img {
        margin-top: -10px;
      }
    }
    a {
      color: #fff;
      font-size:20px;
      @include md {
        font-size: 25px;
      }
      text-transform: uppercase;
      padding: 20px 25px;
    }
    a:hover {
      text-decoration: none;
      background: none;
      color: rgba(255,255,255,.75);
    }
    a .cls-2 {
      transition: .5s;
    }
    a .cls-1 {
      transition: .5s;
    }
    a:hover .cls-2 {
      fill: rgba(255,255,255,.75);
    }
    a:hover .cls-1 {
      stroke: rgba(255,255,255,.75);
    }
  }

  button:hover, button:active, button:focus, button:visited {
    background: none;
    border: none;
  }
}

.about {
  padding-top: 75px;
  padding-bottom: 75px;
  @include lg {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  // min-height: 100vh;
  position: relative;
  color: #6b6b6b;
  h2 {
    text-align: center;
    color: #004B8E;
    font-size: 30px;
    @include lg {
      font-size: 38px;
    }
    font-weight: 700;
  }
  p:first-of-type {
    @include lg {
      font-size: 26px;
    }
    font-size: 16px;
    font-weight: 700;
  }
  p {
    font-size: 16px;
  }
}

.env-standardsimg {
  height: 50vh;
  @include lg {
  height: 75vh;
  // background-attachment: fixed !important;
  }
  background-size: cover !important;
}

.aboutimg, .brochureimg {
  height: 50vh;
  background-position: center !important;
  background-size: cover !important;
  @include md {
      height: 75vh;
      background-attachment: fixed !important;
  }
}

.keyfacts {
  padding-top: 75px;
  padding-bottom: 75px;
  @include lg {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  // min-height: 100vh;
  position: relative;
  color: #6b6b6b;
  text-align: center;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    float: left;
    text-align: center;

    width: 100%;
    padding: 20px 20px;
    @include sm {
      width: 33.3%;
      padding: 100px 20px;
      border-right: 1px dotted #6b6b6b;
    }
    @include md {
      width: 33.3%;
      padding: 100px 20px;
      border-right: 1px dotted #6b6b6b;
    }
    @include lg {
      width: 20%;
      padding: 100px 20px;
      border-right: 1px dotted #6b6b6b;
    }
    img {
      height: 75px;
      margin-bottom: 50px;
    }
    &:last-of-type {
      border-right: none;
      width: 100%;
      @include sm {
        width: 33.3%;
        padding: 100px 20px;
      }
      @include lg {
        width: 20%;
        padding: 100px 20px;
      }
    }
  }
  h3 {
    p {
      color: #004B8E;
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 50px;
      @include md {
        margin-bottom: 100px;
        font-size: 38px;
      }
    }

    span {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  h4 {
    color: #6b6b6b;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
  }
  p {
    font-size: 20px;
    font-weight: 300;
  }
}

.factimg {
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  @include lg {
    background-size: cover !important;
    background: fixed;
  }
  position: relative;
  text-align: center;
  color: #fff;
  h4 {
    font-family: "Josefin Sans", sans-serif;
    margin-left: 25px;
    margin-right: 25px;
    @include lg {
    font-size: 25px;
    margin-left: 0;
    margin-right: 0;
    }
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    padding: 25px;
    // border-style: solid;
    // border-width: 26px 26px 27px 27px;
    // -moz-border-image: url(images/border.png) 26 26 27 27 repeat;
    // -webkit-border-image: url(images/border.png) 26 26 27 27 repeat;
    // -o-border-image: url(images/border.png) 26 26 27 27 repeat;
    // border-image: url(images/border.png) 26 26 27 27 fill repeat;
  }
  .vert-align {
    position: absolute;
    top: 50%;
    @include md {
      width: 100%;
    }
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 0;
    }
}

.env-standards {
  padding-top: 75px;
  padding-bottom: 75px;
  @include lg {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  // min-height: 100vh;
  color: #6b6b6b;
  position: relative;
  h4 {
    @include md {
      font-size: 38px;
      // margin-bottom: 100px;
    }
    @include lg {
      font-size: 38px;
      // margin-bottom: 100px;
    }
    color: #004B8E;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
  }
  p {
    clear: both;
    font-size: 16px;
  }
  p:first-of-type {
    font-weight: 700;
    @include md {
    font-size: 26px;
  }
  font-size: 20px;
  }
  ul {
    color: #909090;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 16px;
    padding: 0;
  }
  ul li {
    float: left;
    width: 100%;
    @include sm {
      width: 50%;
    }
    @include lg {
      width: 33.3%;
    }
  }
  ul li:last-of-type {
    margin-bottom: 50px;
  }
}

.strategic_location {
    padding-top: 75px;
    padding-bottom: 75px;
    @include md {
      text-align: left;
    }
    @include lg {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    // min-height: 100vh;
  position: relative;
  color: #6b6b6b;
  .vert-align {
    @include md {
      position: absolute;
      top: 50%;
      width: calc(100% - 30px);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 0;
      }
    }
  h5 {
    @include lg {
      font-size: 38px;
      text-align: left;
    }
    font-size: 30px;
    text-align: center;
    color: #004B8E;
    margin-top: 0;
    span {
      font-weight: 700;
    }
  }
  img {
    margin-top: 2px;
    text-align: center;
    margin-bottom: 25px;
  }
  p:first-of-type {
    font-weight: 700;
    @include md {
    font-size: 26px;
    }
    font-size: 20px;
    }
  p {
    font-size: 16px;
  }
}

.professional-team {
  padding-top: 125px;
  padding-bottom: 125px;
  @include lg {
    padding-top: 250px;
    padding-bottom: 250px;
  }
  // min-height: 100vh;
  position: relative;
  color: #6b6b6b;
  background: #024884;
  h6 {
    @include lg {
      font-size: 38px;
      margin-bottom: 75px;
    }
    font-size: 30px;
    margin-bottom: 50px;
    color: #fff;
    text-align: center;
    span {
      font-weight: 700;
    }
  }
  ul.team {
    margin: 0;
    list-style: none;
    text-align: center;
    width: 100%;
    padding: 0;
    li:nth-child(1) {
      width: 100%;
      @include md {
      width: 18%;
      }
    }
    li:nth-child(4) {
      width: 100%;
      @include md {
      width: 10%;
      }
    }
    li {
      display: inline-block;
      text-align: center;
      width: 100%;
      padding: 12px;
      @include md {
        // width: calc(100% / 4);
        width: 12%;
      }
      @include lg {
        // width: calc(100% / 8);
        width: 12%;
      }
      img {
        // height: 75px;
      }
    }
  }
}

.brochure {
  padding-top: 75px;
  padding-bottom: 75px;
  @include lg {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  // min-height: 100vh;
  position: relative;
  text-align: center;
  h6 {
    @include lg {
      font-size: 38px;
    }
    font-size: 30px;
    color: #024884;
    text-align: center;
    span {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  .brochurewrapper:after {
    width: 100%;
    float: right;
    margin-top: -250px;
    border: 5px solid #7898D3;
    content: "";
    display: block;
    height: 10px;
  }
  img {
    margin-top: 50px;
  }
  p {
    font-size: 15px;
    color: #004B8E;
    a {
      text-transform: uppercase;
      font-weight: 700;
      color: #004B8E;
      transition: .5s;
    }
    a:hover {
      text-decoration: none;
      color: #7898D3;
    }
  }
}
